.container {
  padding: 10px;
}

.button {
  position: absolute;
  left: 3px;
  border: none;
  border-radius: 100px;
  font-size: 13px;
  font-weight: 600;
  height: 50px;
  width: 50px;
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(30, 213, 170) 0%,
    rgb(1, 179, 228) 100%
  );
}

.button:hover {
  background: linear-gradient(
    to right,
    rgb(26, 184, 147) 0%,
    rgb(1, 149, 190) 100%
  );
}

.button:active {
  transform: translateY(2px);
}
